<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
    <title>Federated Metrics</title>
</head>
<body>

    <div class="container">
        {% for text in texts %}
            <p>{{text}}</p>
        {% endfor %}

        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        {% for img in images %}
            <img src="{{img}}">
        {% endfor %}


    </div>

</body>
</html>